{% load widget_tweaks %}

{% csrf_token %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group row {% if form.is_bound %}{% if field.errors %}has-danger{% else %}has-success{% endif %}{% endif %}">
        <label for="{{ field.name }}" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
        <div class="col-sm-10">
            {% if field.field.widget.input_type == 'checkbox' %}
                <label class="switch">
                    <input type="checkbox" name="{{ field.name }}" {% if field.value %} checked {% endif %}>
                    <span class="slider round"></span>
                </label>
            {% else %}
                {% render_field field|attr:"class:form-control"|attr:"required:true" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="form-control-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
