{% load themetags %}
{% load static %}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static '/admin-assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Arthonsys Ebuzz</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'admin-dashboard'%}" class="nav-link {% active 'admin-dashboard' %}">
              <i class="nav-icon fas fa-th"></i>
              <p>Dashboard</p>
            </a>
          </li>
         
          <li class="nav-item">
            <a href="{% url 'admin-user-list'%}" class="nav-link {% active 'user' %}">
              <i class="nav-icon fas fa-user"></i>
              <p>User</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'customer_list'%}" class="nav-link {% active 'customer_list' %}">
              <i class="nav-icon fas fa-user-circle"></i>
              <p>Customer</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'merchant-list'%}" class="nav-link {% active 'merchant-list' %}">
              <i class="nav-icon fas fa-store"></i>
              <p>Merchant</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'customersupport-list'%}" class="nav-link {% active 'customersupport-list' %}">
              <i class="nav-icon fas fa-life-ring"></i>
              <p>Customer Support</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'category-list'%}" class="nav-link {% active 'category-list' %}">
              <i class="nav-icon fas fa-tags"></i>
              <p>Category</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'subcategory-list'%}" class="nav-link {% active 'subcategory-list' %}">
              <i class="nav-icon fas fa-folder"></i>
              <p>SubCategory</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'brand-list'%}" class="nav-link {% active 'brand-list' %}">
              <i class="nav-icon fas fa-folder"></i>
              <p>Brand</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'image-list'%}" class="nav-link {% active 'image-list' %}">
              <i class="nav-icon fas fa-folder"></i>
              <p>Images</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'product-list'%}" class="nav-link {% active 'product-list' %}">
              <i class="nav-icon fas fa-box"></i>
              <p>Product</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
